.toast-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.toast {
  padding: 10px 20px;
  /* border-radius: 5px; */
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  cursor: pointer;
  position: relative;
  max-width: 300px;
  word-wrap: break-word;
  font-family: "Work Sans", sans-serif;
}

.toast-info {
  background-color: #007bff;
}

.toast-warning {
  background-color: #cc4e02;
}

.toast-error {
  background-color: #dc3545;
}

.toast-success {
  background-color: #28a745;
}

.toast-enter {
  animation: toast-in 0.3s forwards;
}

.toast-exit {
  animation: toast-out 0.3s forwards;
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toast-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
